@use "../abstracts/mixins" as m;

.card {
  @include m.flex(column);
  border-radius: var(--size-sm);
  overflow: hidden;
  height: 100%;

  &__image {
    @include m.flex(column);
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  &__text-content {
    @include m.flex(column, flex-start, space-between);
    height: 100%;
    width: 100%;
    gap: var(--size-xs);
  }

  &__buttons {
    @include m.flex(row, center, space-between);
    background: var(--color-neutral-3);
    padding: var(--size-sm) calc(var(--size-md) - 0.5rem);
    width: 100%;
  }

  &__content {
    @include m.flex(column, flex-start, flex-start);
    width: 100%;
    height: 100%;
    gap: var(--size-xs);
    border-radius: var(--size-sm);
    padding: calc(var(--size-sm));
    background: var(--color-accent-4);
    position: relative;
    overflow: hidden;
  }

  &__header {
    @include m.flex(row, center, space-between);
    width: 100%;
  }
  &__footer {
    @include m.flex(row, center, space-between);
    width: 100%;
  }
}

@media screen and (min-width: 60rem) {
  .card {
    &--wide {
      height: 100%;
      justify-content: flex-start;
      grid-row: span 2;
    }

    &__profile {
      flex-direction: column;
      align-items: flex-start;
    }

    &__buttons {
      flex-direction: column;
      align-items: flex-start;
      gap: calc(var(--size-sm) - 1rem);
    }

    &__text-content {
      flex-direction: column;
      align-items: flex-start;
    }
    &__header {
      margin-block-end: var(--size-xs);
    }
  }
}
