@use "../abstracts/mixins" as m;

.accordion {
  @include m.flex(column, flex-start);
  width: min(100%, 35rem);
  overflow: hidden;

  &__title {
    @include m.flex(row, center, space-between);
    padding: calc(var(--size-xs) + 0.25rem);
    padding-block-start: 0;
    width: 100%;
    border-block-end: 0.05rem solid var(--color-accent-muted);
    transition: 500ms ease;
    cursor: pointer;

    &:hover h3 {
      color: var(--color-secondary);
      transition: 200ms ease;
    }

    &:first-of-type {
      padding-block-start: calc(var(--size-xs) + 0.25rem);
      border-block: 0.05rem solid var(--color-accent-muted);
    }
  }

  &__description {
    display: block;
    z-index: -1;
    width: 100%;
    line-height: 1.7;
    overflow: hidden;
    max-height: 0;
    padding: 0 calc(var(--size-xs) + 0.25rem);
    margin-block-start: calc(var(--size-xs) + 0.25rem);

    &--opened {
      padding: calc(var(--size-xs) + 0.25rem);
      margin-block-start: 0;
    }
  }
}
