@use "../abstracts/mixins" as m;

.picture {
  @include m.flex(column, flex-end);
  overflow: hidden;

  &--large {
    width: 100%;

    @media screen and (min-width: 60rem) {
      height: 100%;
      width: auto;
    }
  }

  &__img {
    object-fit: cover;
    height: clamp(15rem, calc(15rem + 10vw), 30rem);
  }
}
