// Abstracts (variables, mixins, functions)
@use "./abstracts/mixins" as m;
@use "./abstracts/utilities";

// Base / Reset
@use "./base/reset";
@use "./base/base";

// Components
@use "./components/animations";
@use "./components/button";
@use "./components/card";
@use "./components/icon";
@use "./components/indicators";
@use "./components/picture";
@use "./components/text";

// Layout
@use "./layouts/container";
@use "./layouts/navigation-bar";

body {
  position: relative;

  &::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/image-restuarant.jpg");
    // https://www.bing.com/images/search?view=detailV2&ccid=xSS8fMi2&id=FDA331FABFB02940D1C9890CEEC2FA0A5D3047B9&thid=OIP.xSS8fMi2Os5ZylT8XYB7QwHaE8&mediaurl=https%3a%2f%2fi.pinimg.com%2foriginals%2f39%2f26%2f38%2f392638526d161a565a88f675fcfc701b.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.c524bc7cc8b63ace59ca54fc5d807b43%3frik%3duUcwXQr6wu4MiQ%26pid%3dImgRaw%26r%3d0&exph=801&expw=1200&q=pink+resturant&FORM=IRPRST&ck=2377EEEC75178A62E6C243B489F36BCB&selectedIndex=4&itb=0
    // https://i.pinimg.com/originals/39/26/38/392638526d161a565a88f675fcfc701b.jpg
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.7);
  }
}

.input {
  padding: var(--size-xs);
  border-radius: var(--size-sm);
  width: clamp(10rem, calc(10rem + 0.5vw), 20rem);
  cursor: pointer;
  background-color: var(--color-accent-0);
}
