.hidden {
  display: none;
}

.sr-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-mobile-row {
  flex-direction: row;
}
@media screen and (min-width: 60rem) {
  .flex-mobile-row {
    flex-direction: column;
  }
}

.flex-mobile-column {
  flex-direction: column;
}
@media screen and (min-width: 60rem) {
  .flex-mobile-column {
    flex-direction: row;
  }
}

.order-mobile-first {
  order: -1;
}
@media (min-width: 60rem) {
  .order-desktop-last {
    order: 1;
  }
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  /* Colors */
  /* Accent Colors */
  --color-accent-0: hsl(330, 68%, 75%); /* pink */
  --color-accent-1: hsl(15, 80%, 70%); /* peach */
  --color-accent-2: hsl(85, 55%, 62%); /* lime */
  --color-accent-3: hsl(195, 55%, 60%); /* sky */
  --color-accent-4: hsl(280, 60%, 70%); /* lavender */
  /* Neutral colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-1: hsl(0, 0%, 87.5%);
  --color-neutral-2: hsl(0, 0%, 75%);
  --color-neutral-3: hsl(0, 0%, 62.5%);
  --color-neutral-4: hsl(0, 0%, 50%);
  --color-neutral-5: hsl(0, 0%, 37.5%);
  --color-neutral-6: hsl(0, 0%, 25%);
  --color-neutral-7: hsl(0, 0%, 12.5%);
  --color-neutral-8: hsl(0, 0%, 0%);
  /* Spacing sizes */
  --size-xs: clamp(0.5rem, calc(0.35rem + 0.4vw), 1rem);
  --size-sm: clamp(1rem, calc(1.25rem + 0.5vw), 1.75rem);
  --size-md: clamp(1.5rem, calc(2rem + 0.5vw), 3rem);
  --size-lg: clamp(2.5rem, calc(3.25rem + 1vw), 4rem);
  /* Font sizes */
  --fs-sm: clamp(1rem, calc(0.8rem + 0.7vw), 1.3rem);
  --fs-md: clamp(1.5rem, calc(1.3rem + 1vw), 2rem);
  --fs-lg: clamp(2rem, calc(1.8rem + 1.5vw), 4rem);
  --fs-xl: clamp(4rem, calc(4rem + 3vw), 10rem);
  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  /* Tablet and Desktop */
}
@media screen and (min-width: 40rem) {
  :root {
    /* Font sizes */
    --fs-sm: clamp(1rem, calc(0.8rem + 0.2vw), 3rem);
    --fs-md: clamp(1.5rem, calc(1.3rem + 0.3vw), 5rem);
    --fs-lg: clamp(3rem, calc(2rem + 0.5vw), 9rem);
    --fs-xl: clamp(5rem, calc(4.5rem + 2vw), 15rem);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.fast-slow-hover {
  transition: 500ms ease;
  cursor: pointer;
}
.fast-slow-hover:hover {
  transition: 200ms ease;
}

.underline-hover {
  position: relative;
}
.underline-hover:hover {
  opacity: 1;
  cursor: pointer;
}
.underline-hover:not(.underline-hover--selected)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 0%;
  height: 0.3rem;
  background-color: var(--color-neutral-0);
  transition: 500ms ease;
}
.underline-hover:not(.underline-hover--selected):hover::before {
  width: 100%;
  transition: 300ms ease;
}
.underline-hover--selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-neutral-0);
}

.button {
  background: transparent;
  text-decoration: none;
  border: 0.2rem solid transparent;
  cursor: pointer;
  transition: 500ms ease;
}
.button:hover {
  transition: 200ms ease;
}
.button--primary {
  background: var(--color-accent-4);
  color: var(--color-neutral-8);
}
.button--primary:hover {
  background: var(--color-accent-0);
}
.button--secondary {
  background: var(--color-accent-3);
  color: var(--color-neutral-8);
}
.button--secondary:hover {
  background: var(--color-accent-2);
}
.button--rectangle {
  padding: calc(var(--size-xs) + 0.3rem) calc(var(--size-sm) - 0.3rem);
  border-radius: var(--size-sm);
}
@media screen and (min-width: 65rem) {
  .button--rectangle {
    padding: var(--size-xs) calc(var(--size-sm) - 0.5rem);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--size-sm);
  overflow: hidden;
  height: 100%;
}
.card__image {
  width: 100%;
  border-radius: var(--size-sm);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-block-start: var(--size-xs);
}
.card__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: var(--size-xs);
}
.card__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-neutral-3);
  padding: var(--size-sm) calc(var(--size-md) - 0.5rem);
  width: 100%;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: var(--size-xs);
  border-radius: var(--size-sm);
  padding: calc(var(--size-sm));
  background: var(--color-accent-4);
  position: relative;
  overflow: hidden;
}
.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 60rem) {
  .card--wide {
    height: 100%;
    justify-content: flex-start;
    grid-row: span 2;
  }
  .card__profile {
    flex-direction: column;
    align-items: flex-start;
  }
  .card__buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--size-sm) - 1rem);
  }
  .card__text-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .card__header {
    margin-block-end: var(--size-xs);
  }
}
.icon {
  color: var(--color-neutral-0);
  height: auto;
}
.icon--small {
  width: var(--size-sm);
}
.icon--medium {
  width: var(--size-md);
}
.icon--large {
  width: var(--size-lg);
}
.icon--bold {
  stroke: initial;
  stroke-width: 0.2rem;
}

.indicator {
  width: calc(var(--size-sm) / 1.5);
  background: var(--color-neutral-0);
  opacity: 0.5;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-block-end: var(--size-md);
}
.indicator--selected {
  opacity: 1;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.picture--large {
  width: 100%;
}
@media screen and (min-width: 60rem) {
  .picture--large {
    height: 100%;
    width: auto;
  }
}
.picture__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: clamp(15rem, 15rem + 10vw, 30rem);
}

.text {
  text-align: center;
}
.text__description {
  max-width: 40ch;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 40rem) {
  .text__description {
    max-width: 45ch;
  }
}
.text--primary {
  color: var(--color-accent-0);
}
.text--secondary {
  color: var(--color-neutral-0);
}
.text--tertiary {
  color: var(--color-neutral-4);
}
.text--small {
  font-size: var(--fs-sm);
}
.text--medium {
  font-size: var(--fs-md);
}
.text--large {
  font-size: var(--fs-lg);
}
.text--larger {
  font-size: var(--fs-xl);
}
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
.text--thin {
  font-weight: var(--fw-thin);
}
.text--xlight {
  font-weight: var(--fw-xlight);
}
.text--light {
  font-weight: var(--fw-light);
}
.text--regular {
  font-weight: var(--fw-regular);
}
.text--medium {
  font-weight: var(--fw-medium);
}
.text--semibold {
  font-weight: var(--fw-semibold);
}
.text--bold {
  font-weight: var(--fw-bold);
}
.text--xbold {
  font-weight: var(--fw-xbold);
}
.text--black {
  font-weight: var(--fw-black);
}
@media screen and (min-width: 40rem) {
  .text--wide-screen-align-left {
    text-align: left;
  }
}

@media screen and (min-width: 65rem) {
  .text {
    text-align: left;
  }
}
.container {
  padding-block: var(--size-md);
  position: relative;
  margin-inline: auto;
}
.container--wide {
  width: 100%;
}
.container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
}
.container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(20rem, 20rem + 1vw, 25rem));
  justify-content: center;
  gap: var(--size-sm);
}
.container__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--size-sm);
}
.container__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15rem;
  width: min(90vw, 25rem);
}
.container__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
}
.container__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
}
.container__indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-xs);
  margin-block-start: auto;
}
.container__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__sub-container {
  opacity: 1;
  position: relative;
  transition: opacity 0.6s ease;
  margin-block-end: var(--size-md);
}

@media screen and (min-width: 40rem) {
  .container {
    padding: var(--size-sm) var(--size-lg) var(--size-xs);
  }
  .container__cards {
    flex-direction: row;
  }
  .container__buttons {
    flex-direction: row;
  }
  .container__header {
    flex-direction: row;
    align-items: flex-start;
    padding-inline: var(--size-md);
    justify-content: space-between;
  }
}
@media screen and (min-width: 60rem) {
  .container__sub-container {
    min-width: 65%;
  }
  .container__text-content {
    width: clamp(23rem, 20rem + 5vw, 40rem);
    align-items: flex-start;
  }
  .container__image {
    height: 100%;
    width: auto;
    align-self: flex-end;
    justify-self: flex-end;
    margin-inline-start: auto;
  }
  .container__navigation {
    width: 120%;
    padding-inline: var(--size-md);
    max-width: 80rem;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--size-md);
  width: 100%;
}

.nav {
  width: 100%;
  position: relative;
}
.nav--desktop {
  display: none;
}
.nav--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: var(--size-md);
  gap: var(--size-md);
  min-height: 25rem;
}
.nav--mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}
.nav--dialog {
  width: 100vw;
  border: none;
  max-width: none;
  margin: 0;
  background: none;
}
.nav--dialog::backdrop {
  background: var(--color-neutral-8);
  opacity: 0.6;
}
.nav__hamburger {
  order: -1;
  position: absolute;
  right: var(--size-md);
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--color-neutral-0);
}
.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 15rem);
}
.nav__link {
  letter-spacing: 0.1rem;
  padding-block: calc(var(--size-sm) - 0.5rem);
  background: transparent;
  border: none;
  text-shadow: 0 0 0.2rem var(--color-neutral-0);
}
.nav__index {
  display: none;
}
.nav__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav__logo {
  height: auto;
  color: var(--color-neutral-0);
  text-shadow: 0 0 0.2rem var(--color-neutral-0);
}
.nav__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
  text-align: center;
  border-block-end: 0.05rem solid var(--color-neutral-4);
}
.nav__item:first-of-type {
  border-block: 0.05rem solid var(--color-neutral-4);
}
.nav__close-button {
  background: none;
  border: none;
  font-size: var(--fs-lg);
  color: var(--color-neutral-0);
  cursor: pointer;
  position: absolute;
  right: var(--size-md);
}
.nav__decoration {
  display: none;
}

@media screen and (min-width: 40rem) {
  header {
    padding: 0;
    justify-content: space-between;
  }
  .nav--mobile {
    display: none;
  }
  .nav--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-sm);
    width: auto;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__logo {
    margin-inline: var(--size-md);
  }
  .nav__links {
    flex-direction: row;
    gap: var(--size-sm);
    position: relative;
    width: auto;
    padding-inline: var(--size-md);
    border-radius: 0 0 0 var(--size-sm);
    overflow: hidden;
  }
  .nav__links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-neutral-0);
    opacity: 0.2;
    z-index: -1;
  }
  .nav__item:first-of-type {
    border-block: none;
  }
  .nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-block-end: 0.3rem solid transparent;
  }
  .nav__decoration {
    display: block;
    border: 0.01rem solid var(--color-neutral-3);
    width: 100%;
    opacity: 0.3;
  }
}
@media screen and (min-width: 60rem) {
  .nav__index {
    display: block;
    opacity: 0.7;
  }
  .nav__logo {
    margin-block: 0;
  }
  .nav__links {
    margin: var(--size-sm) 0;
    padding-inline: calc(var(--size-lg) + 1rem);
    gap: var(--size-md);
    border-radius: 10rem 0 0 10rem;
  }
  .nav__link {
    padding-block: var(--size-sm);
  }
}
body {
  position: relative;
}
body::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/image-restuarant.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1;
  filter: brightness(0.7);
}

.input {
  padding: var(--size-xs);
  border-radius: var(--size-sm);
  width: clamp(10rem, 10rem + 0.5vw, 20rem);
  cursor: pointer;
  background-color: var(--color-accent-0);
}