@use "../abstracts/mixins" as m;

.container {
  padding-block: var(--size-md);
  width: 100%;
  position: relative;

  &--flex {
    @include m.flex(column);
    gap: var(--size-md);
  }
  &--grid {
    display: grid;
    grid-template-columns: min(80vw, 20rem);
    justify-content: center;
    gap: var(--size-sm);
  }

  &__header {
    @include m.flex(column);
    width: 100%;
    gap: var(--size-sm);
  }
  &__image {
    @include m.flex(column);
    aspect-ratio: 1 / 1;
  }

  &__text-content {
    @include m.flex(column);
    min-height: 15rem;
    width: min(90vw, 25rem);
  }

  &__cards {
    @include m.flex(column);
    gap: var(--size-md);
  }

  &__buttons {
    @include m.flex(row);
    gap: var(--size-sm);
  }

  &__indicators {
    @include m.flex(row);
    gap: var(--size-xs);
    margin-block-start: auto;
  }

  &__navigation {
    @include m.flex(row, center, space-between);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__sub-container {
    opacity: 1;
    position: relative;
    transition: opacity 0.6s ease;
    margin-block-end: var(--size-md);
  }
}

@media screen and (min-width: 40rem) {
  .container {
    padding: var(--size-sm) var(--size-lg) var(--size-xs);

    &--grid {
      grid-template-columns: repeat(2, clamp(15rem, calc(15rem + 1vw), 25rem));
    }

    &__cards {
      flex-direction: row;
    }

    &__buttons {
      flex-direction: row;
    }
    &__header {
      flex-direction: row;
      align-items: flex-start;
      padding-inline: var(--size-md);
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 60rem) {
  .container {
    padding: 0;
    opacity: 1;

    &--grid {
      grid-template-columns: repeat(3, clamp(15rem, calc(15rem + 1vw), 25rem));
    }

    &__sub-container {
      width: 100%;
      opacity: 1;
    }

    &__text-content {
      width: clamp(23rem, calc(20rem + 5vw), 40rem);
      align-items: flex-start;
    }

    &__image {
      height: 100%;
      width: auto;
      align-self: flex-end;
      justify-self: flex-end;
      margin-inline-start: auto;
    }
    &__navigation {
      width: 100%;
      padding-inline: var(--size-md);
      max-width: 80rem;
    }
  }
}

@media screen and (min-width: 70rem) {
  .container {
    &--grid {
      grid-template-columns: repeat(4, clamp(15rem, calc(15rem + 1vw), 25rem));
    }
  }
}
