@use "../abstracts/mixins" as m;

footer {
  display: grid;
  grid-template:
    "logo" auto
    "links" auto
    "icons" auto
    "attribution" auto/ 1fr;
  gap: var(--size-sm);
  width: 100%;
  background-color: var(--color-secondary);
  padding: var(--size-md);
  align-items: center;
  justify-content: center;
}

.footer {
  &__logo {
    grid-area: logo;
    color: var(--color-neutral-0);
  }

  &__icons {
    grid-area: icons;
    @include m.flex(row);
    gap: var(--size-md);
  }

  &__links {
    grid-area: links;
    @include m.flex(column);
    color: var(--color-neutral-0);
    gap: var(--size-sm);
    margin-block-end: var(--size-sm);
  }
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
  }
}

@media screen and (min-width: 40rem) {
  footer {
    grid-template:
      "logo links icons" 1fr
      "attribution attribution attribution" auto/ auto 1fr auto;
    align-items: center;
    justify-content: center;
    padding: var(--size-sm) calc(var(--size-lg) + 1rem)
      var(--size-xs);
  }

  .footer {
    &__logo {
      justify-self: start;
    }
    &__icons {
      justify-self: end;
    }

    &__links {
      margin-block-end: 0;
      justify-self: flex-start;
      flex-direction: row;
      margin-inline-start: var(--size-md);
    }
  }
}
